body {
    font-family: "游ゴシック";
    font-weight: 500;
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: #fff;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(105deg, #E06363, #6E78F5 66%, #FA9E7D 100%);
    width: 1920px;
    height: 1080px;
}

#main-wrapper {
    flex: 1;
    width: calc(100% - 60px);
    display: flex;
}

#main-wrapper > div {
    display: flex;
    flex-direction: column;
}

#main-wrapper > div:nth-child(1) {
    width: 1440px;
    align-items: flex-start;
}

#main-wrapper > div:nth-child(2) {
    flex-grow: 1;
    align-items: flex-end;
}

#info-bar {
    width: 100%;
    height: 60px;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul#info-bar-text-box {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 40px;
    width: calc(100% - 60px);
    overflow: hidden;
    list-style-type: none;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

ul#info-bar-text-box > li {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
}

ul#info-bar-text-box > li.out {
    animation: slideUpOut 0.5s forwards ease-in-out;
}

ul#info-bar-text-box > li.in {
    animation: slideUpIn 0.5s forwards ease-in-out;
}

@keyframes slideUpOut {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-120%);
    }
}

@keyframes slideUpIn {
    0% {
        transform: translateY(120%);
    }
    100% {
        transform: translateY(0);
    }
}

ul#pres-speaker-detail-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 42px;
    overflow: hidden;
    list-style-type: none;
    font-size: 18px;
    margin: 2.5px 0;
    padding: 0;
    position: relative;
}

ul#pres-speaker-detail-info > li {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    font-size: 25px;
}

ul#pres-speaker-detail-info > li.out {
    animation: slideUpOut 0.5s forwards ease-in-out;
}

ul#pres-speaker-detail-info > li.in {
    animation: slideUpIn 0.5s forwards ease-in-out;
}

ul#pres-speaker-detail-info > li.account {
    display: block;
    background-color: rgba(255, 255, 255, 0.75);
    color: #333;
    height: 40px;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 30px;
}

ul#pres-speaker-detail-info > li.account::before {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
}

ul#pres-speaker-detail-info > li.account::after {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: solid 7.5px #fff;
    box-sizing: border-box;
}

ul#pres-speaker-detail-info > li.account.dev::before {
    background-color: #fff;
    background-image: url(../img/icon/dev.svg);
}

ul#pres-speaker-detail-info > li.account.dev::after {
    border-color: #000;
}

ul#pres-speaker-detail-info > li.account.discord::before {
    background-color: #5865F2;
    background-image: url(../img/icon/discord.svg);
}

ul#pres-speaker-detail-info > li.account.discord::after {
    border-color: #5865F2;
}

ul#pres-speaker-detail-info > li.account.facebook::before {
    background-image: url(../img/icon/facebook.svg);
    background-size: 50px;
}

ul#pres-speaker-detail-info > li.account.facebook::after {
    border-color: #0965FD;
}

ul#pres-speaker-detail-info > li.account.github::before {
    background-color: #171515;
    background-image: url(../img/icon/github.svg);
}

ul#pres-speaker-detail-info > li.account.github::after {
    border-color: #171515;
}

ul#pres-speaker-detail-info > li.account.hatena::before {
    background-color: #fff;
    background-image: url(../img/icon/hatena.svg);
    width: 200px;
    background-size: 190px;
}

ul#pres-speaker-detail-info > li.account.hatena {
    padding-left: 215px;
}

ul#pres-speaker-detail-info > li.account.hatena::after {
    border-color: #333;
}

ul#pres-speaker-detail-info > li.account.instagram::before {
    /* 背景対応が必要 */
    background-image: url(../img/icon/instagram.svg);
}

ul#pres-speaker-detail-info > li.account.instagram::after {
    /* 背景対応が必要 */
    border-color: #000;
}

ul#pres-speaker-detail-info > li.account.medium::before {
    background-color: #E5E5E5;
    background-image: url(../img/icon/medium.svg);
    width: 200px;
    background-size: 170px;
}

ul#pres-speaker-detail-info > li.account.medium {
    padding-left: 215px;
}

ul#pres-speaker-detail-info > li.account.medium::after {
    border-color: #000;
}

ul#pres-speaker-detail-info > li.account.note::before {
    background-color: #fff;
    background-image: url(../img/icon/note.svg);
    width: 120px;
    background-size: 100px;
}

ul#pres-speaker-detail-info > li.account.note {
    padding-left: 135px;
}

ul#pres-speaker-detail-info > li.account.note::after {
    border-color: #000;
}

ul#pres-speaker-detail-info > li.account.niconico::before {
    background-color: #fff;
    background-image: url(../img/icon/niconico.png);
    background-size: 34px;
}

ul#pres-speaker-detail-info > li.account.niconico::after {
    border-color: #252525;
}

ul#pres-speaker-detail-info > li.account.qiita::before {
    background-color: #55C500;
    background-image: url(../img/icon/qiita.svg);
    width: 110px;
    background-size: 70px;
}

ul#pres-speaker-detail-info > li.account.qiita {
    padding-left: 125px;
}

ul#pres-speaker-detail-info > li.account.qiita::after {
    border-color: #55C500;
}

ul#pres-speaker-detail-info > li.account.twitch::before {
    background-color: #fff;
    background-image: url(../img/icon/twitch.svg);
    width: 120px;
    background-size: 90px;
}

ul#pres-speaker-detail-info > li.account.twitch {
    padding-left: 135px;
}

ul#pres-speaker-detail-info > li.account.twitch::after {
    border-color: #9146FF;
}

ul#pres-speaker-detail-info > li.account.x::before {
    background-color: #000;
    background-image: url(../img/icon/x.svg);
    background-size: 20px;
}

ul#pres-speaker-detail-info > li.account.x::after {
    border-color: #000;
}

ul#pres-speaker-detail-info > li.account.youtube::before {
    background-color: #fff;
    background-image: url(../img/icon/youtube.svg);
}

ul#pres-speaker-detail-info > li.account.youtube::after {
    border-color: #f00;
}

ul#pres-speaker-detail-info > li.account.zenn::before {
    background-color: #fff;
    background-image: url(../img/icon/zenn.svg);
    width: 120px;
    background-size: 90px;
}

ul#pres-speaker-detail-info > li.account.zenn {
    padding-left: 135px;
}

ul#pres-speaker-detail-info > li.account.zenn::after {
    border-color: #3ea8ff;
}



#logo > img.out {
    animation: fadeOut 0.5s forwards ease-in-out;
    /*animation: slideUpOut 0.5s forwards ease-in-out;*/
}

#logo > img.in {
    /*animation: slideUpIn 0.5s forwards ease-in-out;*/
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}