body {
    font-family: "游ゴシック";
    font-weight: 500;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: linear-gradient(105deg, #E06363, #6E78F5 66%, #FA9E7D 100%);
    color: #fff;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 100vh;
}

#main-wrapper {
    flex: 1;
    width: calc(100% - 60px);
    display: flex;
}

#main-wrapper > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-wrapper > div:nth-child(1) {
    width: 1440px;
    align-items: flex-start;
}

#main-wrapper > div:nth-child(2) {
    flex-grow: 1;
    align-items: flex-end;
}

#slide {
    width: 100%;
    height: 810px;
}

#slide > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pres-info {
    width: calc(100% - 50px);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 26px;
}

#pres-info > div {
    padding: 10px 0;
}

#pres-speaker-box {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
}

#pres-speaker {
    padding-right: 40px;
    font-size: 40px;
    font-weight: 700;
}

ul#pres-speaker-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 35px;
    overflow: hidden;
    list-style-type: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
    position: relative;
}

ul#pres-speaker-info > li {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    font-size: 25px;
}

ul#pres-speaker-info > li.out {
    animation: slideUpOut 0.5s forwards ease-in-out;
}

ul#pres-speaker-info > li.in {
    animation: slideUpIn 0.5s forwards ease-in-out;
}

#pres-title-box {
    width: 100%;
}

#pres-title {
    width: calc(100% - 15px);
    font-size: 30px;
}

#camera {
    width: 100%;
    height: 600px;
}

#camera > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#logo {
    width: 100%;
    flex: 1;
}

#info-bar {
    width: 100%;
    height: 60px;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul#info-bar-text-box {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 40px;
    width: calc(100% - 60px);
    overflow: hidden;
    list-style-type: none;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

ul#info-bar-text-box > li {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
}

ul#info-bar-text-box > li.out {
    animation: slideUpOut 0.5s forwards ease-in-out;
}

ul#info-bar-text-box > li.in {
    animation: slideUpIn 0.5s forwards ease-in-out;
}

@keyframes slideUpOut {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes slideUpIn {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}