#main-wrapper > div:nth-child(1) {
    width: 1440px;
}

#slide {
    width: 100%;
    height: 810px;
}

#pres-info {
    width: calc(100% - 50px);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 26px;
}

#pres-info > div {
    padding: 10px 0;
}

#pres-speaker-box {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
}

#pres-speaker-info {
    padding-right: 40px;
    font-size: 40px;
    font-weight: 700;
}

#pres-title-box {
    width: 100%;
}

#pres-title {
    width: calc(100% - 15px);
    font-size: 30px;
}

#camera {
    width: 100%;
    height: 600px;
}

#camera > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#logo {
    width: 100%;
    flex: 1;
}
